.main-section__cards {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 20px;

  padding: 50px;
}

/** Media Queries for small screens */
@media screen and (max-width: 600px) {
  .main-section__cards {
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    padding: 20px;
  }
}
