.main-section-card {
  width: 350px;

  background-color: var(--light-grey);
  border-radius: 10px;

  transition: all 0.3s ease-in-out;

  user-select: none;
}

.main-section-card__image {
  width: 350px;
  height: 300px;
  object-fit: cover;
}

.main-section-card:hover {
  background-color: #030303;
}
